body {
    transition: background 0.3s, color 0.3s;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}